<tr>
  <td>
    <%= link_to test.title,
                admin_test_path(test),
                class: "test-title",
                data: { test_id: test.id } %>

    <%= render "form_inline", test: test == @test ? @test : test %>
  </td>
  <td align='center'><%= test.level %></td>
  <td align='center'><%= test.questions.count %></td>
  <td align='center'><%= test.time_limit %></td>
  <td><%= link_to "Изменить",
                  edit_admin_test_path(test),
                  class: "form-inline-link",
                  data: { test_id: test.id } %>
  </td>
  <td>
    <%= link_to "Удалить",
                admin_test_path(test),
                method: :delete,
                data: { confirm: "Вы уверенны?" } %>
  </td>
</tr>
